footer{
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 15vh;
    color:var(--main-text-white);
    position: absolute;
}

footer *
{
    margin: 0;
}